<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HQAccessPointContext" connectionString="metadata=res://*/HQAccessPointContext.csdl|res://*/HQAccessPointContext.ssdl|res://*/HQAccessPointContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HQAccessPoint.Database;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>